.form-container {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  box-shadow: -14px 14px 2px -1px rgba(255, 153, 0, 0.3);
  -webkit-box-shadow: -14px 14px 2px -1px rgba(255, 153, 0, 0.3);
  -moz-box-shadow: -14px 14px 2px -1px rgba(255, 153, 0, 0.3);
}
.form-title {
  color: #2a414f;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin: 0 0 3px 5px;
}
.input-group input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 24px;
}
.form-submit {
  background-color: rgba(255, 153, 0, 0.3);
  width: 415px;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.form-submit:hover {
  background-color: rgba(255, 153, 0, 0.5);
}
.form-link-signup {
  text-align: center;
}
.form-link {
  color: #ff9900;
  text-decoration: none;
}
.form-horizontal-line {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.form-horizontal-line > div {
  height: 1px;
  background-color: #95a0a7;
  width: 50%;
}
.form-horizontal-line > p {
  padding: 0 10px;
}
.form-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  margin: 10px 0 30px 0;
  cursor: pointer;
}
.form-button img {
  width: 30px;
}
.form-button p {
  font-size: 16px;
  margin-left: 5px;
}
